# Python
__pycache__
.py[cod]
.egg-info
dist
build
.venv
venv
.venv
# IDE
.idea
.vscode
.swp

# Spark
.log
derby.log
metastore_db
spark-warehouse
/Dan_Portfolio_Code/palber_marketing_bot/.env

# old projects
python-data-analysis
shell-scripting
spark-cluster
spark-data-analysis
palber_marketing_bot/